@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_back_ios,arrow_forward_ios");

html, body {
    background-color: rgb(236, 221, 221);
    margin: 0;
    padding: 0;
}

.pai {
    width: 70vw;
    height: 50vh;
    background-color: rgb(23, 80, 151);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 50px auto;
    border-radius: 10px;
}

.filha {
    width: 100%;
    height: 100%;
    background-color: rgb(240, 253, 240);
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}

.material-symbols-outlined {
    color: white;
    font-size: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 60px;
    border-radius: 50%;
    transition: background-color 0.5s ease;
}

.material-symbols-outlined:hover {
    background-color: red;
}